<?xml version="1.0"?>

<launch>

  
  <!-- launch Movidus Neural Compute Stick people detector -->
  <node name="ncs_people_detection_node" pkg="ncs_people_detection" 
    type="ncs_people_detection.py" output="screen">

    <!-- specify path to the network graph -->
    <param name="network_graph_path" type="string" 
      value="$(find ncs_people_detection)/network_graphs/ssd_mobilenet_graph" />

    <!-- load other params -->
    <rosparam command="load" file="$(find sheldon)/launch/include/ncs_people_detection_params.yaml"/>
  </node>



</launch>
