<launch>

  <!-- Arduino Test  -->


  <!-- Base, including joystick, arduino (waist actuators), 
  and wheel motors (sabertooth) -->
  <include file="$(find sheldon)/launch/include/base.launch"/>

  <!-- Robot Description (URDF) -->
  <include file="$(find sheldon_description)/launch/description.launch"/>

  <!-- Arduino #3 - Sheldon Head, controls eyes (and sensors in the future) -->
  <node pkg="rosserial_python" type="serial_node.py" name="head_node" output="screen">
    <param name="port" value="/dev/head_arduino"/>
    <param name="baud" value="57600"/>
  </node>

  <!-- Arduino 4 & 5 - Sheldon Arms, controls arm colors (and sensors in the future) -->

  <node pkg="rosserial_python" type="serial_node.py" name="right_arm_m4_arduino_node" output="screen">
    <param name="port" value="/dev/right_arm_m4_arduino"/>
    <param name="baud" value="57600"/>
  </node>

  <node pkg="rosserial_python" type="serial_node.py" name="left_arm_arduino_node" output="screen">
    <param name="port" value="/dev/left_arm_arduino"/>
    <param name="baud" value="57600"/>
  </node>




</launch>
