<launch> 

  <!-- launch cv capture  DISABLED
  <node pkg="cv_camera" type="cv_camera_node" name="cv_camera" output="screen">
    <param name="device_id" value="2"/>
  </node>
  -->

  <!-- launch realsense camera -->
  <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/>

  <!-- Debug: launch image viewer to show raw camera feed   DISABLED
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen"> 
    <remap from="image" to="/cv_camera/image_raw"/> 
    <param name="autosize" value="true" /> 
  </node> 
   -->

  <!-- launch tensorflow people and object detection.
       optionally sleeps "n" seconds, then activates python environment and launches the detector -->
  <node pkg="sheldon" type="activated_tensorflow.sh"
    name="activated_cob_people_object_detection_tensorflow" 
    args="1 cob_people_object_detection_tensorflow cob_people_object_detection_tensorflow.launch"
    output="screen">
  </node>

  <!-- launch rviz to view the tensorflow image -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cob_people_object_detection_tensorflow)/rviz/view_tensorflow_image.rviz" />


  <!-- launch tensorflow Face Recognizer
       optionally sleeps "n" seconds, then activates python environment and launches the detector  DISABLED

  <node pkg="sheldon" type="activated_tensorflow.sh"
    name="activated_cob_face_recognizer" 
    args="1 cob_people_object_detection_tensorflow cob_face_recognizer.launch"
    output="screen">
  </node>
-->

  

</launch>
