# rules for Arduino Mega in Head
# NOTE:  Serial number supplied to differentiate between head and base Arduino Mega's

SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="2a03", ENV{ID_MODEL_ID}=="0042", ENV{ID_SERIAL_SHORT}=="556353037383518101B2", MODE:="0666", GROUP:="dialout", SYMLINK+="head_arduino"
ATTRS{idVendor}=="2a03", ENV{ID_MM_DEVICE_IGNORE}="1"



