# rules for USB2Dynamixel (larger USB to Dynamixel device)

SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}=="6001", ENV{ID_SERIAL_SHORT}=="A8005juP", MODE:="0666", GROUP:="dialout", SYMLINK+="dynamixel"




